body, html {
    height: 100%;
    color: #444;
}

.bg { 
    /* The image used */
    background-image: url("../images/nomusicnolife.jpg");

    /* Full height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newBtn {
    background-color: rgb(2, 168, 168);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}

.newBtn:hover {
    background-color: rgb(0, 145, 145);
}