body, html {
    height: 100%;
    color: #444;
}

.bg { 
    /* The image used */
    background-image: url("../images/nomusicnolife.jpg");

    /* Full height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newBtn {
    background-color: rgb(2, 168, 168);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px #444;
    padding: 5px;
    margin: 10px;
}